<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerKey</key>
	<string>zjhazoD5Semfyy9PAEYNCw</string>
	<key>consumerSecret</key>
	<string>yROVlz3Z2kO3d2GChTfXdX7D3B668hZbRuHkCtlY</string>
	<key>accessToken</key>
	<string>127145982-b2W9Lw2bmfu2UM6PcROr6cXxSF9iBYcB783e9lxV</string>
	<key>tokenSecret</key>
	<string>l6MwF0YbvtLzW5u6Lcdh0aPvbSZfwl0NwY7TpHgeI</string>
</dict>
</plist>
